
@import url("https://fontlibrary.org/face/gidole-regular");

body {
	margin: 0;

	font-family: "GidoleRegular", Sans-Serif;
}

header {
	padding-top: 1px;

	background: #EEE;

	background: #ae3e97;
	color: #FFF;
}

header nav, footer {
	background: #983684;
}

header h1 {
	margin-top: 23px;
	padding-left: 26%;
	font-size: 320%;
} header nav {
	margin-top: 4px;
	padding-left: 8%;
	padding-right: 8%;
	margin-top: 23px;

} header nav ul {
	padding: 0;
	margin: 0;
} header nav li {
	display: inline-block;
	font-size: 165%;
} header nav li {
} header nav a {
	padding: 6px 8px;
	display: inline-block;
	padding-top: 14px;
	padding-bottom: 14px;
} header nav a:hover {
	background-color: #AE3E97;
}

header nav a, footer a {
	color: #FFF;
	text-decoration: none;
} header nav a:hover, footer a:hover {
	color: #FFF;
	text-decoration: none;
}

h1.title {
	font-size: 275%;
	text-align: center;
} h1.subtitle {
	font-size: 200%;
	margin-bottom: 26px;
	text-align: center;
} h2.author {
	font-size: 150%;
	margin: 8px 0;
	text-align: center;
} h3.date {
	text-align: center;
}

.document, footer {
	padding: 0 8%;
	margin: 0;
}

#body > * {
	padding-left: 8%;
	padding-right: 8%;
} #body > hr {
	margin-left: 8%;
	margin-right: 8%;
}

#body p, #body table {
	font-size: 13pt;
	text-align: left;
} #body table thead {
	border-bottom: 1px solid #DDD;
} #body table {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 14px;
} #body table thead, #body table tbody {
	padding: 0 10%;
} #body table td, #body table th {
	padding: 0.5% 1%;
} #body ul > li {
	font-size: 13pt;
	margin-left: 32px;
	margin-right: 32px;
} #body table tr td:first-child, #body table tr th:first-child {
	width: 280px;
}

#body a {
	color: #983684;
	text-decoration: none;
} #body a:hover {
	text-decoration: underline;
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #FFF;
}

.document {
	margin: 0;
	padding: 8px 8%;
	min-height: 120px;
	position: relative;
} .document:nth-child(2n) {
	background-color: #FFF;
} .document:nth-child(2n + 1) {
	background-color: #EFEFEF;
}

.document .filename {
	display: inline-block;

	width: 100px;
	height: 100px;

	margin-right: 24px;

	float: left;

	padding: 8px;

	font-weight: bold;
	color: #FFF;
	font-size: 18pt;
}

#body .document ul > li {
	margin: 0;
}

.document .date {
	float: right;
	font-weight: normal;
}

.document .tags {
	margin-top: 4px;
	position: absolute;
	left: calc(100px + 8%);
	bottom: 8px;
} .document .tags li {
	display: inline-block;
	list-style-type: none;
	margin: 0;

	padding: 1px 2px;
	color: #FFF;
} .document .tags li:before {
	content: "#";
} .document .tags li.author:before {
	content: "@";
} .document .tags li.tag:before, .document .tags li.author:before {
	margin-right: -3px;
}

.document .authors {
	margin-top: 4px;
} .document .authors li {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	margin-right: 12px;
}

.document h4, .document ul {
	margin: 0;
}

.document a {
	text-decoration: none;
}

.document .format-alt a {
	font-weight: normal;
} .document .format-alt:before {
	content: " / ";
	font-weight: normal;
} .document .format-alt {
	font-size: 80%;
}


.document .title {
	font-size: 22pt;
	margin: 0;
} .document .subtitle {
	margin-bottom: 8px;
	font-size: 18pt;
}

.document .filename {
	background-color: #ae3e97;
} .document.pv .filename {
	background-color: #ff6433;
} .document.other .filename {
	background-color: #3e5fae;
} .document.pv.comite .filename {
	background-color: #3e5fae;
} .document.doc .filename {
	background-color: #3e97ae;
}

.document a {
	color: #ae3e97!important;
} .document.pv a {
	color: #ff6433!important;
} .document.other a {
	color: #3e5fae!important;
} .document.pv.comite a {
	color: #3e5fae!important;
} .document.doc a {
	color: #3e97ae!important;
}

.document .tags li {
	background-color: #ae3e97;
} .document.pv .tags li {
	background-color: #ff6433;
} .document.other .tags li {
	background-color: #3e5fae;
} .document.pv.comite .tags li {
	background-color: #3e5fae;
} .document.doc .tags li {
	background-color: #3e97ae;
}


